.gradle
.idea
build/
*.iml
report*
log*
repo
sample/libs
sample/report*
sample/log*
sample/.gauge
local.properties
plugin/out
sample/out
bin/
**/build/
.java-version
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
plugin/.settings/org.eclipse.buildship.core.prefs
sample/.settings/org.eclipse.buildship.core.prefs
