.gradle
.idea
build/
*.iml
report*
log*
repo
bin/
**/build/
.java-version
.classpath
.project

sample/libs
sample/reports
sample/logs
sample/.gauge
local.properties
plugin/out
sample/out

.settings/org.eclipse.buildship.core.prefs
plugin/.settings/org.eclipse.buildship.core.prefs
sample/.settings/org.eclipse.buildship.core.prefs
