name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-2022]
        java-version: [17, 21]
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '17' # Version for tests
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '21'
        cache: gradle
    - uses: getgauge/setup-gauge@master
      with:
        gauge-plugins: java, html-report, xml-report
    - uses: gradle/actions/setup-gradle@v5
    - name: Build with Gradle
      run: |
        gauge config runner_connection_timeout 300000
        ./gradlew build
