name: Release on PR Merge

on: deployment

jobs:
  deploy:
    if: github.event.deployment.environment == 'production'
    name: Deploy to gradle portal
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
      GRADLE_PUBLISHKEY: '${{ secrets.GRADLE_PUBLISHKEY }}'
      GRADLE_SECRET: '${{ secrets.GRADLE_SECRET }}'
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - uses: getgauge/setup-gauge@master
        with:
          gauge-plugins: java, html-report, xml-report
      - uses: gradle/actions/setup-gradle@v5
      - name: Upload to gradle portal
        run: |
          ./gradlew plugin:build
          ./gradlew plugin:publishPlugins -Pgradle.publish.key=$GRADLE_PUBLISHKEY -Pgradle.publish.secret=$GRADLE_SECRET