name: release

on: [deployment]

jobs:
  release:
    name: Deploy to gradle portal
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
      GRADLE_PUBLISHKEY: '${{ secrets.GRADLE_PUBLISHKEY }}'
      GRADLE_SECRET: '${{ secrets.GRADLE_SECRET }}'
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: '12.x.x'

      - name: Build artifacts
        run: |
          ./gradlew clean build

      - name: Upload to gradle portal
        run: |
          ./gradlew publishPlugins -Pgradle.publish.key=$GRADLE_PUBLISHKEY -Pgradle.publish.secret=$GRADLE_SECRET