name: Update Gradle Wrapper

on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

jobs:
  update-gradle-wrapper:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v4.2.2

      - name: Set up JDK
        uses: actions/setup-java@ead9eaa3cfe0b0fc2fa749519ae09c3d4f4080b0 # v4.7.0
        with:
          distribution: temurin
          java-version: 21

      - name: Update Gradle Wrapper
        uses: gradle-update/update-gradle-wrapper-action@512b1875f3b6270828abfe77b247d5895a2da1e5 # v2.1.0
        with:
          labels: dependencies
